@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Aluna: @ViewData["Aluna"]</p>
<address>
    <strong>Mais informações <a href="http://educandoweb.com.br"> Site Educandoweb.com.br</a></strong>
</address>
<p>Use this area to provide additional information.</p>
